In [1]:
import os
from binance.client import Client
from datetime import datetime, timedelta
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn
from binance_getprice import *
from apyfromdefillama import *
import mplfinance as mpf
from decouple import config
api_key = config('api_key')
api_secret = config('api_secret')
client = Client(api_key, api_secret)

In [15]:
btc = get_historical_klines('BTCUSDT', Client.KLINE_INTERVAL_1MINUTE, '10 Nov, 2022', '15 Nov, 2022')
apy = import_apy('WETH-USDC 0.3%','Arbitrum','v3')

In [23]:
new = btc.join(apy, how = 'left').ffill()
new = new[['Open', 'apy']]
new

                         Open        apy
Open Time
2022-11-10 00:00:00  15922.68  279.98324
2022-11-10 00:01:00  15883.35  279.98324
2022-11-10 00:02:00  15884.42  279.98324
2022-11-10 00:03:00  15763.52  279.98324
2022-11-10 00:04:00  15837.48  279.98324
...                       ...        ...
2022-11-14 23:56:00  16621.93   76.45507
2022-11-14 23:57:00  16613.82   76.45507
2022-11-14 23:58:00  16621.78   76.45507
2022-11-14 23:59:00  16612.85   76.45507
2022-11-15 00:00:00  16617.72   65.51203

[7201 rows x 2 columns]