In [1]:
import os
from binance.client import Client
from datetime import datetime, timedelta
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn
from binance_getprice import *
import mplfinance as mpf
from decouple import config
api_key = config('api_key')
api_secret = config('api_secret')
client = Client(api_key, api_secret)

In [10]:
btc = get_historical_klines('BTCUSDT', Client.KLINE_INTERVAL_1MINUTE, '1 Nov, 2022', '15 Nov, 2022')

In [17]:
btc

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2022-11-01 00:00:00,20490.74,20497.95,20471.34,20475.59,355.07194,2022-11-01 00:00:59.999000064,7.273548e+06,5999,152.53099,3.124760e+06,0
1,2022-11-01 00:01:00,20474.28,20475.65,20460.98,20471.08,241.41379,2022-11-01 00:01:59.999000064,4.941196e+06,5491,117.06667,2.396169e+06,0
2,2022-11-01 00:02:00,20471.08,20479.99,20464.42,20466.63,409.49444,2022-11-01 00:02:59.999000064,8.383296e+06,7008,202.27747,4.141351e+06,0
3,2022-11-01 00:03:00,20467.36,20481.44,20457.14,20473.47,347.06217,2022-11-01 00:03:59.999000064,7.103733e+06,7902,169.47176,3.468923e+06,0
4,2022-11-01 00:04:00,20473.47,20482.42,20467.12,20476.78,214.82770,2022-11-01 00:04:59.999000064,4.398583e+06,5261,101.31632,2.074513e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...
20156,2022-11-14 23:56:00,16621.93,16622.10,16596.52,16615.54,237.12627,2022-11-14 23:56:59.999000064,3.938264e+06,6264,110.55164,1.836073e+06,0
20157,2022-11-14 23:57:00,16613.82,16628.61,16612.88,16621.78,113.40371,2022-11-14 23:57:59.999000064,1.885060e+06,3363,49.76218,8.272178e+05,0
20158,2022-11-14 23:58:00,16621.78,16626.57,16604.85,16613.92,175.66660,2022-11-14 23:58:59.999000064,2.918584e+06,3894,70.65822,1.174092e+06,0
20159,2022-11-14 23:59:00,16612.85,16625.07,16610.69,16619.46,112.92284,2022-11-14 23:59:59.999000064,1.876626e+06,3238,66.31802,1.102155e+06,0
20160,2022-11-15 00:00:00,16617.72,16619.46,16593.23,16600.64,224.70347,2022-11-15 00:00:59.999000064,3.730910e+06,4968,120.31723,1.997783e+06,0